.property-slider-popup-image{
    max-width: 1000px;
}

.property-slider-thumbs{
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.property-slider-thumbs .slick-list{
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}

.property-slider-thumbs .slick-track .slick-slide > div{
    padding: 0 10px;
}

.property-slider-thumbs .slick-track .slick-slide > div img{
    position: static;
}

.property-slider-thumbs .slick-slide{
    opacity: 0.4;
    transition: ease-in-out all 0.3s;
    cursor: pointer;
}

.property-slider-thumbs .slick-slide.slick-current{
    opacity: 1;
}

@media (max-width: 1165px){
    .slider-popup-image, .property-slider-thumbs {
        max-width: calc(100% - 100px);
        margin: 0 auto;
    }

    .property-slider-thumbs{
        margin: 20px auto 0 auto;
    }

    .properties-content .lightbox .slick-arrow.slick-prev{
        left: -26px;
        z-index: 50;
    }

    .properties-content .lightbox .slick-arrow.slick-next {
        right: -26px;
        z-index: 50;
    }
}


@media (max-width: 991px) {
    .properties-content .lightbox .slick-arrow {
        top: 50% !important;
    }
}

@media (max-width: 600px){
    .property-slider-thumbs{
        display: none !important;;
    }
}